/*
    Tortoiseshell Optics CSS Style sheet
    Author: Angela Boakes
    Date: February 2019
*/

/* Set base font size*/
html {
  font-size: 18px;
  line-height: 1.4;
}

/*set font for document*/
body {
  font-family: Helvetica, sans-serif;
}

/*set flex containers*/
.flex-row{
  display: flex;
  flex-direction: row;
}
.flex-col {
  display: flex;
  flex-direction: column;
}

/*header background image*/
header {
  background-image: url(../images/glasses-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin: 0;
  padding: 0;
}


/*set menu bar style*/
  .menu-bar{
    background-color: cadetblue;
    justify-content: space-between;
    padding: 1rem 0;
    margin: 0 auto;
    align-items: center;
    }
    .logo{
      justify-content: flex-start;
      align-items: center;
    }
      .logo img{
        height: 1.5rem;
        padding: 0 1rem 0 2rem;
      }
      .logo span{
        color: white;
        font-size: 1rem;
      }
      .full-menu,
      .short-menu {
        padding-right: 2rem;
      }
        span>a{
          color: white;
          text-decoration: none;
          }

/*header container with byline*/
        #byline{
          align-self: flex-end;
          background-color: white;
          font-weight: bold;
          line-height: 1.2;
          }

/*styling for services content*/
  #services {
    margin: 3rem auto;
    justify-content: center;
    align-content: space-between;
    }

    .service{
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-content: center;
      height: 8rem;
      width: 5rem;
    }
    #serv-paper{
      width: 8rem;
    }
    .serv-box{
      margin-left: 6rem;
    }

      #paper{
        width: 3.5rem;
        align-self: center;
      }
      #ruler,
      #truck {
        align-self:center;
        width: 5rem;
      }
      .service>p {
        text-align: center;
        line-height: 1.4;
      }

/*styling for details section*/
  #details{
    margin-bottom: 5rem;
    justify-content: center;
  }
    .contact{
      width: 35%;
      margin: 0;
      justify-content: flex-start;
    }
      .contact-headings{
        background-color: cadetblue;
        width: 10rem;
        margin-bottom: 1rem;
        padding: 0.5rem 1.25rem;
        color: white;
        font-weight: bold;
        font-size: 1rem;
      }
        .contact-text{
          font-size: 1rem;
          line-height: 1.4;
        }
        #appt{
          margin-left: 5%;
        }
/*Styling for footer section*/
        #footer{
          background-color: azure;
          margin: 0 auto;
          padding: 0;
          align-content: center;
        }
          #black-logo>img{
            height: 1.5rem;
            padding: 4rem 1rem 4rem 4rem;
            margin: 0;
          }
          #copyright{
            margin: 0;
            padding: 0;
            align-self: center;
          }

/*MOBILE display is less than 590px*/
@media only screen and (max-width: 590px){

  #services {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 3.77rem 0;
  }
    .service{
      align-self: center;
      justify-content: flex-start;
      width: 5rem;
      height: auto;
      margin: 1.54rem 0 0 0;
      padding: 0;
    }
    #serv-paper{
      margin-top: 0;
      width:6rem;
    }
      .service p{
        font-size: 0.77rem;
        line-height: 1.4;
        }
      #paper,
      #ruler,
      #truck {
        padding: 0;
        margin: 0 auto;
      }

      #footer{
        justify-content: center;
      }
        #black-logo>img{
          margin: 4rem 0;
          padding: 0;
        }
        #copyright {
          display:none;
        }
}


/*display is less than 768px wide*/
@media only screen and (max-width: 767px){

/*sets header background picture*/
  header {
    height: 17rem;
    background-position: 20%;
  }

  /*set menu bar style*/
  .menu-bar{
    position: fixed;
    top: 0;
    z-index: 1;
    width: 100%;
  }
   .logo span,
   .full-menu{
     display:none;
   }

  /*set byline*/
    #byline{
      width: 100%;
      margin: 12.6rem 0 0 0;
      text-align: center;
      padding: 1rem 0;
    }

    #details{
      display: flex;
      flex-direction: column;
    }
      .contact{
        width: 100%;
        margin: 0;
        padding: 0;
        text-align: center;
      }
        .contact-headings {
          width: 100%;
          margin: 0 0 1rem 0;
          padding: 0.5rem 0;
        }
        .contact-text {
          width: 100%;
          text-align: left;
          font-size: 0.77rem;
          padding: 0 0.5rem;
        }
        #appt{
          margin: 4rem 0 0 0;
        }
 }

/*set display where screen width is less than 960 but bigger than 768*/
@media only screen and (min-width: 768px) and (max-width: 959px) {
  header{
    max-width: 959px;
    padding-top: 0;
    height: 22rem;
  }
  .container {
    max-width: 959px;
    margin: 0 auto;
  }
  .short-menu{
    display: none;
    padding: 0;
  }
  .menu-bar{
    position: fixed;
    top: 0;
    z-index: 1;
    padding-right: 2rem;
    width: 100%;
  }
  #byline{
    align-self: flex-end;
    background-color: white;
    padding: 0.75rem 4rem;
    font-weight: bold;
    font-size: 1.33rem;
    line-height: 1.2;
    margin: 8.6rem 2rem 0 0;
    }
}


/*display screen is greater than 960px wide*/
@media only screen and (min-width: 960px) {
  /*set header style for display screen size*/
  header{
    padding-top: 1rem;
    height: 30rem;
  }
  /*sets container size for content*/
    .container {
      max-width: 960px;
      margin: 0 auto;
    }
          .short-menu{
            display: none;
            padding: 0;
          }
        #byline{
          align-self: flex-end;
          background-color: white;
          padding: 1.5rem 5rem;
          font-weight: bold;
          font-size: 2rem;
          line-height: 1.2;
          margin-top: 10rem;
          }
}

/*sets byline position when screen is wider than 1032px*/
@media only screen and (min-width: 1032px) {
  #byline{
      margin-right: -2rem;
  }
  .short-menu{
    display: none;
    padding: 0;
  }
}
