/*
    Tortoiseshell Optics CSS Style sheet
    Author: Angela Boakes
    Date: February 2019
*/

/* Set base font size*/
html {
  font-size: 18px;
  line-height: 1.4;
}

/*set font for document*/
body {
  font-family: Helvetica, sans-serif;
}

header {
  background-image: url(../images/glasses-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin: 0;
}

/*set menu bar style*/
  #header {
    display: flex;
    flex-direction: column;
  }
  .menu-bar{
    background-color: cadetblue;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1rem 0 1rem 2rem;
    margin: 0;
    align-items: center;
  }
    .logo{
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;
    }
      .logo img{
        height: 1.5rem;
        padding-right: 1rem;
      }
      span>a{
        color: white;
        text-decoration: none;
        }

/*styling for services content*/
  #services {
    display: flex;
    flex-direction: row;
    margin: 3rem auto;
    justify-content: center;
    align-content: space-between;
    }

    .service{
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-content: center;
      height: 8rem;
    }
      #paper{
        width: 3.5rem;
        padding: 0 3rem;
      }
      #ruler,
      #truck {
        width: 5rem;
        padding: 0 3rem;
      }
      .service>p {
        text-align: center;
      }
      br{
        line-height: 1.4;
      }


/*display screen is greater than 960px wide*/
@media only screen and (min-width: 960px) {
  /*set header style for display screen size*/
  header{
    padding-top: 1rem;
    height: 30rem;
  }
  /*sets container size for content*/
    .container {
      width: 960px;
      margin: 0 auto;
    }
        .logo span{
          color: white;
          font-size: 1rem;
        }
          .full-menu{
            padding-right: 2rem;
          }
          #short-menu{
            display: none;
            padding: 0;
          }
        #byline{
          align-self: flex-end;
          background-color: white;
          padding: 1.5rem 5rem;
          font-weight: bold;
          font-size: 2rem;
          line-height: 1.2;
          margin-top: 10rem;
          margin-right: -2rem;
        }
}
